# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the MIT License. See the LICENSE accompanying this file
# for the specific language governing permissions and limitations under
# the License.

# This task finds and configures elastic network interfaces
# left in an unconfigured state.

[Unit]
Description=Finds and configures elastic network interfaces
Wants=systemd-udevd.service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ec2ifscan

[Install]
WantedBy=multi-user.target
