# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the MIT License. See the LICENSE accompanying this file
# for the specific language governing permissions and limitations under
# the License.

# This service configures and enable newly added
# elastic network interfaces

[Unit]
Description=Enable elastic network interfaces %i
After=network-online.target
#This makes sure all subprocesses will be killed if the ENI is removed
BindsTo=sys-subsystem-net-devices-%i.device

#We don't want to run if it already being managed by network.service
ConditionPathExists=!/var/run/dhclient-%i.pid

[Service]
RemainAfterExit=true
ExecStart=/usr/sbin/ec2ifup %i
# Probably redundant but ensure we clean up aliases and ip rules
ExecStop=/usr/sbin/ec2ifdown %i

